@charset "utf-8";

/* 00. font - 구글폰트에서 Montserrat 300/400/600 가져옴 */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600&family=Noto+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;500;600&display=swap');

/* 00. Reset */
* {
	margin: 0;
	padding: 0;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
tbody,
tfoot,
thead,
tr,
th,
td {
	margin: 0;
	padding: 0;
}
a {
	color: inherit;
	text-decoration: inherit;
}
li {
	list-style: none;
}
address,
em,
i {
	font-style: normal;
}
button {
	background: none;
	border: none;
}
img {
	vertical-align: middle;
}

body {
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	letter-spacing: -0.01em;
}

.wrap {
	position: relative;
	background-color: #141212;
	color: #fff;
	margin: 0 auto;
	padding-bottom: 1000px;
}

/* Common Style */
section {
	margin-bottom: 150px;
}

.inner {
	padding: 0 50px;
	box-sizing: border-box;
}

.box {
	border-radius: 10px;
	overflow: hidden;
}

.btn {
	display: inline-block;
	font-size: 11px;
	box-sizing: border-box;
	border-radius: 30px;
	background-color: #fff;
	color: #000;
	text-transform: uppercase;
	padding: 12px 25px;
	margin-top: 30px;
}

/* Header */
header {
	position: fixed;
	width: 100%;
	z-index: 10;
}

header .inner {
	padding: 30px 50px 0;
}

header .inner .logo {
	display: flex;
	width: 150px;
	justify-content: space-between;
}

header .inner .logo span {
	padding: 0 1px;
}

header .inner .logo span img {
	width: 100%;
}

header .gnb {
	text-align: center;
}

header .gnb .menuOpen {
	position: absolute;
	top: 10px;
	left: 50%;
	font-size: 10px;
	padding: 30px 0;
	transform: translateX(-50%);
	z-index: 1;
	cursor: pointer;
}

header .gnb .menuOpen::before {
	content: '';
	position: absolute;
	width: 150px;
	height: 5px;
	left: 50%;
	top: 15px;
	background-color: #fff;
	border-radius: 30px;
	transform: translateX(-50%);
	transition: all 0.3s;
}

header .gnb .menuOpen:hover::before {
	width: 165px;
}

header .gnb .menuBox {
	position: absolute;
	width: 99%;
	top: -1000%;
	left: 50%;
	background-color: rgba(55, 55, 55, 0.4);
	border-radius: 5px;
	padding: 100px 0 30px;
	transform: translateX(-50%);
	transition: top 0.5s;
	backdrop-filter: blur(30px);
	box-sizing: border-box;
}

header .gnb .menuBox li {
	overflow: hidden;
}

header .gnb .menuBox li a {
	display: block;
	font-size: 40px;
	transform: translateY(-100px);
	transition: all 0.6s;
}

header .gnb .menuBox.on {
	top: 10px;
}

header .gnb .menuBox.on li a {
	transform: translateY(0px);
}

header .gnb .menuBox.on li:nth-child(2) a {
	transition-delay: 0.05s;
}

header .gnb .menuBox.on li:nth-child(3) a {
	transition-delay: 0.1s;
}

header .gnb .menuBox.on li:nth-child(4) a {
	transition-delay: 0.15s;
}

/* Visual */
.visual {
	margin-bottom: 0;
}

.visual .inner {
	display: grid;
	grid-template-rows: auto 1fr auto;
	height: 100vh;
	padding: 25px 50px 25px;
	box-sizing: border-box;
}

.visual .inner .mainText {
	max-width: fit-content;
	font-size: 80px;
	font-weight: normal;
	line-height: 0.9;
	letter-spacing: -2px;
	margin-left: auto;
}

.visual .inner .mainText span {
	display: block;
	overflow: hidden;
}

.visual .inner .mainText span i {
	display: block;
}

.visual .inner .subText {
	font-weight: normal;
	font-size: 20px;
	align-self: flex-end;
}

.visual .inner .subText span {
	display: inline-block;
	color: #585858;
	margin-bottom: 50px;
}

.visual .logoWrap {
	display: flex;
	justify-content: space-between;
}

.visual .logoWrap span {
	width: 16%;
}

.visual .logoWrap span img {
	width: 100%;
}

/* Con1 */
.con1 .box {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	row-gap: 90px;
	background-color: rgba(55, 55, 55, 0.4);
	backdrop-filter: blur(100px);
	padding: 60px;
}

.con1 .box .mainText {
	font-size: 30px;
	grid-row-start: 2;
}

.con1 .box .subText {
	max-width: 500px;
	font-size: 20px;
	grid-column-start: 2;
}

.con1 .box .subText p {
	margin-top: 14px;
}

.con1 .textAni {
	position: relative;
	margin-top: 14px;
}

.con1 .textAni::before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	width: 110px;
	height: 110px;
	border-radius: 50%;
	background-color: #e36840;
	animation: opa linear 1.5s infinite;
}

.con1 .textAni ul {
	display: grid;
	max-width: 800px;
}

.con1 .textAni ul li {
	font-size: 65px;
	grid-row-start: 1;
	grid-column-start: 1;
	text-transform: uppercase;
	letter-spacing: -1px;
	transform: translateX(30px);
	opacity: 0;
}

/* Con2 */
.con2 .inner {
	position: relative;
	padding: 40px 50px;
}

.con2 .inner::before {
	content: '';
	position: absolute;
	width: 95%;
	height: 1px;
	top: 0;
	left: 50%;
	background-color: #3b3b3b;
	transform: translateX(-50%);
}

.con2 .mainTextBox {
	position: relative;
}

.con2 .mainTextBox span {
	position: absolute;
	top: 0;
	right: 0;
}

.con2 .mainTextBox .in {
	display: flex;
	justify-content: flex-end;
	margin-bottom: 15px;
}

.con2 .mainTextBox .in .box {
	max-width: 550px;
	margin-right: 20px;
}

.con2 .mainTextBox .in .box video {
	width: 100%;
}

.con2 .mainTextBox .title {
	font-size: 120px;
	line-height: 1;
	letter-spacing: -5px;
	text-align: right;
	overflow: hidden;
}

.con2 .mainTextBox .title i {
	display: block;
}

.con2 .mainTextBox .title.a {
	align-self: flex-end;
}

.con2 .mainTextBox .title.b {
	margin-right: 400px;
}

.con2 .subTextBox {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.con2 .subTextBox .subText {
	max-width: 600px;
	font-size: 22px;
}

.con2 .subTextBox .subText p:nth-child(1) {
	margin-bottom: 20px;
}

.con2 .subTextBox .iconbox {
	display: flex;
}

.con2 .subTextBox .iconbox li {
	width: 28px;
	margin: 0 10px;
	place-items: center;
}

.con2 .subTextBox .iconbox li:last-child {
	width: 40px;
}

/* Con3 */
.con3 .inner {
	display: flex;
	justify-content: space-between;
}

.con3 .textBox {
	width: 28%;
}

.con3 .textBox h4 {
	position: sticky;
	position: -webkit-sticky;
	top: 50%;
	font-size: 60px;
	font-weight: normal;
	transform: translateY(-50%);
}

.con3 .listBox {
	display: flex;
	width: 70%;
	justify-content: space-between;
	flex-wrap: wrap;
	perspective: 900px;
	/*ScrollTrigger때문에 스크롤바가 생기므로 적용*/
	overflow: hidden;
}

.con3 .listBox li {
	width: 32.2%;
}

.con3 .listBox li .img {
	background-color: var(--sub-color);
	border-radius: 10px;
	text-align: center;
	padding: 30% 0;
}

.con3 .listBox li .img img {
	width: 40%;
}

.con3 .listBox li h4 {
	display: flex;
	justify-content: center;
	justify-content: space-between;
	margin: 15px 0 50px;
	font-weight: normal;
}

.con3 .listBox li h4 span.b {
	opacity: 0.5;
}

.con3 .listBox li[data-color='a'] {
	--sub-color: #d1dbfd;
}

.con3 .listBox li[data-color='b'] {
	--sub-color: #90c3cd;
}

.con3 .listBox li[data-color='c'] {
	--sub-color: #ff764a;
}

.con3 .listBox li[data-color='d'] {
	--sub-color: #47b172;
}

.con3 .listBox li[data-color='e'] {
	--sub-color: #ffb84f;
}

/* Con4 */
.con4 .mainTextBox {
	position: relative;
}

.con4 .mainTextBox span {
	position: absolute;
	top: 0;
	right: 0;
}

.con4 .mainTextBox .title {
	font-size: 120px;
	line-height: 1;
	letter-spacing: -5px;
	overflow: hidden;
}

.con4 .mainTextBox .title i {
	display: block;
}

.con4 .mainTextBox .title.b {
	text-align: center;
}

.con4 .mainTextBox .title.c {
	align-self: flex-start;
}

.con4 .mainTextBox .in {
	display: flex;
	justify-content: flex-end;
}

.con4 .mainTextBox .in .box {
	max-width: 550px;
	margin-right: 20px;
}

.con4 .listBox {
	margin: 100px 0;
	perspective: 900px;
}

.con4 .listBox .box {
	position: sticky;
	position: -webkit-sticky;
	display: grid;
	grid-template-columns: 60% auto;
	top: 100px;
	color: #141212;
	background-color: #fff;
	filter: brightness(1);
	padding: 50px 80px 60px;
	margin-bottom: 35px;
}

.con4 .listBox .box h2 {
	grid-column: 1/3;
	font-size: 40px;
	font-weight: normal;
	letter-spacing: -2px;
	padding-bottom: 20px;
	margin-bottom: 100px;
	border-bottom: 1px solid #ddd;
}

.con4 .listBox .box h3 {
	font-size: 300px;
	font-weight: bold;
	line-height: 0.9;
	align-self: flex-end;
}

.con4 .listBox .box .text {
	align-self: flex-end;
	line-height: 1.4;
}

.con4 .listBox .box .text h4 {
	line-height: 1.2;
	margin-bottom: 20px;
}

.con4 .listBox .box .text p {
	opacity: 0.5;
}

.con4 .listBox .box.a h3 {
	color: #ffb84f;
}

.con4 .listBox .box.b h3 {
	color: #90c3cd;
}

.con4 .listBox .box.c h3 {
	color: #47b172;
}

.con4 .subTextBox {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.con4 .subTextBox .subText {
	max-width: 600px;
	font-size: 22px;
	grid-column-start: 2;
}

.con4 .subTextBox p:nth-child(1) {
	margin-bottom: 20px;
}

/* Con5 */
.con5 {
	background-color: #fff;
	color: #141412;
	margin-bottom: 0;
}

.con5 .inner {
	padding: 50px;
}

.con5 .mainTextBox h2 {
	font-size: 100px;
	letter-spacing: -5px;
	font-weight: normal;
	text-transform: uppercase;
}

.con5 .listBox {
	border-top: 1px solid #000;
	margin-top: 150px;
}

.con5 .listBox li {
	display: grid;
	grid-template-columns: 2fr 1fr auto;
	border-bottom: 1px solid #000;
	padding: 10px 0;
	cursor: pointer;
}

.con5 .listBox li h3 {
	font-size: 40px;
	letter-spacing: -1px;
	font-weight: normal;
}

.con5 .listBox li p {
	align-self: center;
}

.con5 .imgBox {
	position: absolute;
	transform: scale(0);
	opacity: 0;
	z-index: 2;
}

@keyframes opa {
	0% {
		opacity: 0;
	}
	30% {
		opacity: 1;
	}
	80% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
